@use "../../styles/_mixins" as *;

button {
  font: var(--inter);
  color: var(--primary-text);
  border: none;
  border-radius: var(--spacing-medium);
  cursor: pointer;
  margin: var(--spacing-xsmall);
}

.text {
  background-color: var(--bg);

  &:hover {
    @include text-hover;
  }
}

.icon-button {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-medium);
}

.primary {
  color: #ffffff;
  fill: #ffffff;
  background-color: var(--primary-button);
  height: 32px;

  &:hover {
    background-color: color-mix(in srgb, var(--primary-button) 80%, black);
  }
}

.outlined {
  @include light-bg;
  border: 1px solid var(--primary-button);

  &:hover {
    background-color: color-mix(in srgb, var(--primary-color) 70%, transparent);
  }
}
