button {
  font: var(--inter);
  color: var(--primary-text);
  border: none;
  border-radius: var(--spacing-medium);
  cursor: pointer;
  margin: var(--spacing-xsmall);
}

.text {
  background-color: var(--bg);
}

.text:hover {
  color: var(--surface-color-darken);
}

.icon-button {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-medium);
}

.primary {
  color: #ffffff;
  background-color: var(--primary-button);
}

.primary:hover {
  background-color: color-mix(in srgb, var(--primary-button) 80%, black);
}

.outlined {
  border: 1px solid var(--primary-button);
  background-color: color-mix(in srgb, var(--primary-color) 30%, transparent);
}

.outlined:hover {
  background-color: color-mix(in srgb, var(--primary-color) 70%, transparent);
}
