@use "../../styles/_mixins" as *;

button {
  font: var(--inter);
  color: var(--primary-text);
  border: none;
  border-radius: var(--spacing-medium);
  cursor: pointer;
  margin: var(--spacing-xsmall);

  &:focus-visible {
    outline: none;
  }
}

.text {
  background-color: var(--bg);

  &:hover {
    background-color: var(--surface-color-darken);
  }
}

.icon-button {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-medium);
  height: 32px;
}

.menu-button {
  padding: 4px;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    background-color: var(--surface-color-darkest);
  }

  .kebab {
    &:hover {
      fill: var(--secondary-text) !important;
    }
  }
}

.primary {
  color: white;
  background-color: var(--primary-button);

  &:hover {
    background-color: color-mix(in srgb, var(--primary-button) 80%, black);
  }
}

.secondary {
  color: var(--secondary-text);
  fill: var(--secondary-text);
  background-color: transparent;

  &:hover {
    background-color: color-mix(in srgb, var(--secondary-text) 60%, black);
  }
}

.outlined {
  @include light-bg;
  border: 1px solid var(--primary-button);

  &:hover {
    background-color: color-mix(in srgb, var(--primary-color) 70%, transparent);
  }
}
