button {
  font: var(--inter);
  color: var(--primary-text);
  background-color: var(--surface-color);
  border: var(--border);
  border-radius: var(--spacing-medium);
}

button:hover {
  /* color: var(--secondary-text); */
  background-color: var(--surface-color-darken);
}

.icon-button {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-medium);
}
