@use "./styles/_mixins" as *;

:root {
  --primary-color: #ad7eff;
  --secondary-color: #6a13ff;
  --primary-text: #6b6375;
  --secondary-text: #9f9ca2;
  --bg: #fff;
  --surface-color: #f4f3ec;
  --surface-color-darken: #b7b5ab;
  --primary-button: #6a13ff;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 12px;
  --spacing-xlarge: 16px;
  --spacing-xxlarge: 24px;
  --navbar-height: 80px;
  --border: #e5e4e7;

  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --inter: "Inter", sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--inter);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--primary-text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: var(--font-size-medium);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #ffffff;
    --secondary-text: #595959ab;
    --bg: #16171d;
    --surface-color: #2b3139;
    --border: #2b313980;
  }
}

#root {
  @include column;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_24pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}
